// Entire modal container
#marketplace-add-snippet-container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  // Stop it from adding a blue outline when you tab in the editor
  #marketplace-custom-css:focus-visible {
    outline: none;
  }
}

// Container for label + input
.marketplace-customCSS-input-container {
  display: flex;
  flex-direction: column;
}

// Preview image in the modal
img.marketplace-customCSS-image-preview {
  aspect-ratio: 1;
  width: 100%;
  height: auto;
  max-width: 400px;
  object-fit: cover;
  margin: 0 auto;
}

// Submit button
#marketplace-customCSS-submit {
  margin-left: auto;
}
