.devtools-column {
    height: 450px;
    width: 50%;
    position: relative;
    background-color: var(--spice-sidebar);
    color: var(--spice-text);
    font-weight: bold;
    overflow: scroll;
    padding: 1rem;

}
.color-ini-editor {
    height: 70%;
    width: 100%;
    background-color: var(--spice-sidebar);
    color: var(--spice-text);
    font-weight: bold;
    overflow: scroll;
    padding: 1rem;
    resize: none;
}
.marketplace-theme-dev-tools-container {
    justify-content: flex-end;
    display: flex;
}
.invalid-css-heading,
.devtools-heading {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 1rem;
}
.invalid-css-text {
    margin-bottom: 1.5rem;
    font-family: monospace;
}
.devtools-icon {
    width: 30px;
    fill: var(--spice-button)
}
