@use "../constants.scss";

.marketplace-header {
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  align-content: space-between;
  align-items: center;
  color: var(--spice-text);
  background-color: var(--spice-main);
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;

  // To position the settings button + colour schemes
  position: sticky;
  flex-direction: row;
  top: 64px;
  z-index: 1;
  
  // Fix positioning on readme pages
  .contentSpacing:has(#marketplace-readme) & {
    top: 0;
  }
}

.marketplace-header__right,
.marketplace-header__left {
  display: flex;
  & > :is(div, button) {
    margin-left: 8px;
  }
}

.marketplace-header__label {
  display: inline-flex;
  align-self: center;
}

.marketplace-grid {
  --minimumColumnWidth: 180px;
  --column-width: minmax(var(--minimumColumnWidth), 1fr);
  --column-count: auto-fill;
  --grid-gap: 24px;
}

.marketplace-sort-bar {
  align-items: center;
  display: flex;
}

.marketplace-sort-container {
  position: relative;
  display: flex;
}

.marketplace-tabBar-headerItem {
  -webkit-app-region: no-drag;
  display: inline-block;
  pointer-events: auto;

  // Fixes the tab bar alignment going weird when the "more" dropdown menu appears
  vertical-align: middle;
}

.marketplace-tabBar-active {
  background-color: var(--spice-tab-active);
  border-radius: 4px;
}

.marketplace-tabBar-headerItemLink {
  border-radius: 4px;
  color: var(--spice-text);
  display: inline-block;
  margin: 0 8px 0 0;
  padding: 8px 16px;
  position: relative;
  text-decoration: none !important;
  cursor: pointer;
}

.marketplace-tabBar-nav {
  -webkit-app-region: drag;
  pointer-events: none;
  width: 100%;
}

.marketplace-tabBar-headerItem .optionsMenu-dropBox {
  color: var(--spice-text);
  border: 0;
  max-width: 150px;
  height: 42px;
  padding: 0 30px 0 12px;
  background-color: initial;
  cursor: pointer;
  appearance: none;
}

.marketplace-tabBar-headerItem .optionsMenu-dropBox svg {
  position: absolute;
  margin-left: 8px;
}

.marketplace-header-icon-button {
  border-radius: constants.$btn-radius;
  color: var(--spice-text);
  display: inline-block;
  padding: 10px 14px 6px;
  font-weight: bold;
  position: relative;
  text-decoration: none !important;
  cursor: pointer;
  background-color: transparent;
  border: none;
  background-color: var(--spice-sidebar);
  transition-duration: constants.$transition-default;

  &:hover {
    background-color: var(--spice-button-disabled);
  }
}

#marketplace-update {
  margin-left: 0;
  margin-right: 16px;
}

// Search bar
.searchbar--bar__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-grow: 1;
}
.searchbar-bar {
  border-style: solid;
  border-color: var(--spice-sidebar);
  background-color: var(--spice-sidebar) !important;
  border-radius: constants.$btn-radius;
  padding: 10px 12px;
  color: var(--spice-text) !important;
}

.marketplace-footer {
  margin: auto;
  text-align: center;
}

// "Add CSS" button
.marketplace-add-snippet-btn {
  position: -webkit-sticky;
  position: sticky !important;
  bottom: 32px;
  left: 100%;
}
