#marketplace-config-container {
  .settings-block {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .settings-block-top {
    padding-bottom: 10px;
  }

  .settings-block-bottom {
    padding-top: 10px;
  }

  .settings-tabs-description {
    font-style: italic;
    font-size: 12px;
  }


  .settings-row {
    display: flex;
    justify-content: space-between;

    .col {
      display: flex;
      padding: 8px 0;
      align-items: center;

      &.action {
        text-align: right;
        margin-inline-start: 8px;

        // The tooltip icon
        & .marketplace-sortBox + .marketplace-tooltip-icon {
          margin-inline-start: 8px;
        }
      }
    }
  }

  .settings-heading {
    position: relative;
    border-bottom: 2px solid var(--spice-button-disabled);;
    padding: 0 0 4px;
    margin: 0 0 4px;
  }
}

// The tooltip icon
.marketplace-tooltip-icon {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  // The tooltips themselves
  & + [data-tippy-root] {
    text-align: start;
  }
}

// The up/down arrows
button.arrow-btn {
  align-items: center;
  border: 0px;
  border-radius: 50%;
  background-color: rgba(var(--spice-rgb-shadow), .7);
  color: var(--spice-text);
  cursor: pointer;
  display: flex;
  margin-inline-end: 12px;
  padding: 8px;

  &.small {
    width: 24px;
    height: 24px;
    padding: 5px;
  }

  &.disabled,
  &[disabled] {
    color: rgba(var(--spice-rgb-text), .3);
    cursor: not-allowed;
  }
}

.dnd-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%
}

.dnd-icon {
  position: absolute;
  left: 4px;
}

// Add snippet modal
#marketplace-add-snippet-container input, textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 3px 5px;
  background-color: var(--spice-main);
  color: var(--spice-text);
  font-size: 14px;
  border: 1px solid var(--spice-button);
  border-radius: 4px;
}


