// This was taken from the Spotify styles for the button on the change profile pic modal

.button {
  box-sizing: border-box;
  font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
  -webkit-tap-highlight-color: transparent;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  background-color: transparent;
  border: 0px;
  border-radius: 500px;
  display: inline-block;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  touch-action: manipulation;
  transition-duration: 33ms;
  transition-property: background-color, border-color, color, box-shadow, filter, transform;
  user-select: none;
  vertical-align: middle;
  transform: translate3d(0px, 0px, 0px);
  padding: 0px;
  min-inline-size: 0px;
  align-self: center;

  @media screen and (min-width: 768px) {
    font-size: 1rem;
    line-height: 1.5rem;
    text-transform: none;
    letter-spacing: normal;
  }

  // From the inner div...
  position: relative;
  background-color: var(--spice-text);
  color: var(--spice-main);
  border-radius: 500px;
  font-size: inherit;
  padding-block: 12px;
  padding-inline: 32px;

  &:hover {
    transform: scale(1.04);
  }

  &:active {
    background-color: var(--spice-subtext);
    box-shadow: none;
    transform: scale(1);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.circle {
  padding-inline: 16px;
  width: 48px;
  height: 48px;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
