// Make settings modal use same background colour as the reload modal
// (The large style modal uses --spice-player as the background colour by default)
.GenericModal[aria-label="Spicetify Marketplace"] {
  .main-embedWidgetGenerator-container {
    background-color: var(--spice-tab-active);
  }
}

.setting-row {
  &::after {
    content: "";
    display: table;
    clear: both;
  }

  .col {
    display: flex;
    padding: 10px 0;
    align-items: center;

    &.description {
      float: left;
      padding-right: 15px;
      cursor: default;
    }
    &.action {
      float: right;
      text-align: right;
    }
  }
}

button.switch {
  align-items: center;
  border: 0px;
  border-radius: 50%;
  background-color: rgba(var(--spice-rgb-shadow), .7);
  color: var(--spice-text);
  cursor: pointer;
  display: flex;
  margin-inline-start: 12px;
  padding: 8px;

  &.small {
    width: 22px;
    height: 22px;
    padding: 6px;
  }

  &.disabled,
  &[disabled] {
    color: rgba(var(--spice-rgb-text), .3);
  }

  &--tab-toggle[disabled] {
    opacity: 0;
    pointer-events: none;
  }
}
